
/* Define the gradient stops variable */
:root {
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-via), var(--tw-gradient-to);
  }
  
  /* Define the gradient colors */
  :root {
    --tw-gradient-from: #1d4ed8; /* blue-700 */
    --tw-gradient-via: #1e3a8a;  /* blue-800 */
    --tw-gradient-to: #111827;   /* gray-900 */
  }
  
  /* Apply the gradient and other styles */
 body{
    /* background: conic-gradient(at bottom right, var(--tw-gradient-stops)); */
    height: 16rem; /* 64 * 0.25rem */
    width: 100%;
    background-repeat: no-repeat;
    height: 100vh;
  }
  