@tailwind base;
@tailwind components;
@tailwind utilities;

.mainImg {
  background-image: url("../public/Img/main.jpg");
  height: 80vh;
  width: 100vw;
}

.CopponImg{
  background-image: url("../public/Img/CopponImg.jpg");
  height: 60vh;
  width: 80vw;
}